.navbar {
    background-color: red;
}

.nav {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.nav-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

a {
    color: black;
}